* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pfp {
  width: 150px;
  height: 150px;
  border-radius: 60px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.header { 
  display: flex;
  align-items: center;
  margin: 0 20px;
  position: relative;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.header-text {
  margin-left: 30px;
}

h1 {
  font-size: 2.5rem;
  color: #ffffff;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
  /* text-align: center; */
}

.subtitle {
  font-family: "Space Grotesk", monospace;
  color: #cecece;
  font-size: 1.1rem;
  margin-bottom: 5px;
  text-align: center;
  white-space: nowrap; 
}

.affiliateDisclosure {
  color: #bebebe;
  font-size: 0.9rem;
  /* text-decoration: underline; */
  cursor: pointer;
}

.yt {
  width: 55px;
  height: 55px;
  position: absolute;
  top: -8px;
  right: 225px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.ig {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 150px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.fb {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 75px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.tt {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.yt:hover, .ig:hover, .fb:hover, .tt:hover {
  transform: translateY(-5px);
}

@media (max-width: 853px) {
  .yt {
    top: 0px;
    right: 58px;
    margin-top: -5px;
    width: 45px;
    height: 45px;
    margin-bottom: -25px;
  }

  .ig {
    top: 70px;
    right: 60px;
    margin-top: -20px;
    width: 40px;
    height: 40px;
  }

  .fb {
    top: 80px;
    right: 0;
    margin-top: -30px;
    width: 40px;
    height: 40px;
  }

  .tt {
    top: 38px;
    right: 0;
    margin-top: -40px;
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }

  .yt {
    top: 0px;
    right: 58px;
    margin-top: -5px;
    width: 45px;
    height: 45px;
    margin-bottom: -25px;
  }

  .ig {
    top: 60px;
    right: 60px;
    margin-top: -20px;
    width: 40px;
    height: 40px;
  }

  .fb {
    top: 70px;
    right: 0;
    margin-top: -30px;
    width: 40px;
    height: 40px;
  }

  .tt {
    top: 38px;
    right: 0;
    margin-top: -40px;
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 580px) {
  .header {
    flex-direction: column;
    height: auto;
    margin-top: -25px;
  }

  .header-text {
    margin-left: 0;
    text-align: center;
    margin-top: 25px;
  }

  .yt {
    top: 0px;
    right: 58px;
    margin-top: -5px;
    width: 45px;
    height: 45px;
    margin-bottom: -25px;
  }

  .ig {
    top: 70px;
    right: 60px;
    margin-top: -20px;
    width: 40px;
    height: 40px;
  }

  .fb {
    top: 80px;
    right: 0;
    margin-top: -30px;
    width: 40px;
    height: 40px;
  }

  .tt {
    top: 38px;
    right: 0;
    margin-top: -40px;
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 460px) {
  .yt {
    top: 0px;
    left: -5px;
    margin-top: -5px;
    width: 45px;
    height: 45px;
    margin-bottom: -25px;
  }

  .ig {
    top: 70px;
    left: -2px;
    margin-top: -20px;
    width: 40px;
    height: 40px;
  }

  .fb {
    top: 80px;
    right: 0;
    margin-top: -30px;
    width: 40px;
    height: 40px;
  }

  .tt {
    top: 38px;
    right: 0;
    margin-top: -40px;
    width: 35px;
    height: 35px;
  }
}
