.about-info-grid {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 10px;
}

.about-info {
  display: inline-block;
  position: center;
  width: 500px;
}

.about-title {
  text-align: center;
  padding-top: 10px;
  font-size: 30px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.about-subtext{
  text-align: center;
  font-size: 20px;
  color: black;
}

.about-subtext {
margin-bottom: 4px;
}

.about-grid {
  padding-top: 25px;
  margin-left: -110px;
  padding-left: 75px;
  margin-right: -108px;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
  background-color: rgb(250, 172, 224);
}

.about {
  color: rgb(3, 0, 130);
  text-align: center;
  font-size: 35px;
  font-weight: 1000;
  line-height: 20px;
  margin-bottom: 10px;
}

.profile {
  width: 300px;
  border-radius: 500px;
  margin-top: 10px;
  margin-left: 100px;
}