.subject-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 25px;
  margin-bottom: 30px;
  background: rgba(202, 45, 81, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(202, 45, 81, 0.1);
}

.subject-content {
  flex: 1;
}

.subject-image {
  flex: 1;
}

.subject-image img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}
