.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.active {
  opacity: 1;
  transform: translateY(0);
}

.stagger-item {
  transition-delay: var(--delay);
}

@keyframes headerSlideDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header,.back-button, .nav-button {
  animation: headerSlideDown 0.8s ease-out;
}

@keyframes buttonsAnim {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(-50%);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(+20%);
    }
}